.aboutMe, .portfolio, .contact, .resume
{
  background-image: url("https://www.wallpapertip.com/wmimgs/196-1965497_website-background-wallpaper-wood.jpg");
}
.aboutMe{
  padding-left: 50px;
  color:rgb(0, 23, 128);
  font-size:20px;
  font-weight:400;

}

.project{
  display: flex;
  flex-direction: column;
}

p{
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#portfolio{
  padding-left:20px;
}