.name{
 font-size: 40px;
 padding:10px;
 font-family: 'Comforter', cursive;
 color:white;
}

header{
  display:flex;
  flex-direction: row;
  background-color: black;
  align-items: center;
}

.nav-item{
  font-family: 'Lato', sans-serif;
  color:white

}

footer{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#resume, #contact{
  padding-left:20px
}


